//css-reset
@import'base/reset';
//font
@import'layout/font';
//header
@import'layout/header';
//footer
@import'layout/footer';
//media
@import'layout/media';

.backimg {
    background-image: url('../image/index-3.gif');
}



//品牌特色
.slider_container {
    width: 100%;
    position: relative;
    height: 334px;

    .imag {
        width: 100%;
        padding-bottom: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        animation: round 25s linear infinite;
    }

    .imag1 {
        background-image: url('../image/img-000.jpg');
        animation-delay: 20s;
    }

    .imag2 {
        background-image: url('../image/00001.jpg');
        animation-delay: 15s;
    }

    .imag3 {
        background-image: url('../image/11111.jpg');
        animation-delay: 10s;
    }

    .imag4 {
        background-image: url('../image/about_01.jpg');
        animation-delay: 5s;
    }

    .imag5 {
        background-image: url('../image/img_square_3.jpg');
        animation-delay: 0s;
    }

}

//品牌特色右邊淡入淡出動畫
@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }

    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }

    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

//湯頭介紹
.pic {
    width: 80%;
    padding: 15px;
    margin: auto;
    font-size: 0;

    img {
        width: 100%;
    }

    h3 {
        text-align: center;
        width: 100%;
        margin: auto;
    }
}

//詳細介紹按鈕
.botton {
    padding: 10px;
    text-align: center;

    a {
        text-align: center;
        border: 2px solid #B8A98D;
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 25px;
        background-color: rgba(97, 95, 103, .9);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: #F0F0F7;
            color: #615F67;
            border: 2px solid #F0F0F7;
        }
    }
}

//食材菜單
.ffogg {
    margin: 20px 0;
    // position: relative;

    .fog {
        width: 100%;
        position: relative;
        box-sizing: border-box;

        .fog_img {
            width: 100%;
            font-size: 0;

            img {
                width: 100%;
                transition: all 0.5s ease 0s;

                &:hover {
                    transform: scale(1.05);
                    opacity: .5;
                }
            }
        }

        .text {
            width: 100%;
            display: inline-block;
            box-sizing: border-box;

            h3 {
                margin: 10px 0;
            }
        }
    }
}

//最新消息
.message {
    padding-bottom: 20px;
    margin: 20px 0;

    .mess_img {
        width: 100%;
        background-color: #fff;
        font-size: 0;

        img {
            width: 100%;
        }
    }

    .mess_text {
        h3 {
            padding-bottom: 20px;

            .box {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    z-index: 2;
                    top: 10px;
                    left: -15px;
                    width: 10px;
                    height: 10px;
                    background: #B8A98D;
                    border-radius: 2px;
                    transform: rotate(45deg);
                    animation: box .8s infinite;
                }
            }
        }
    }
}

//box小點點動畫
@keyframes box {
    0% {
        top: 10px;
    }

    50% {
        top: 5px;
    }

    100% {
        top: 0px;
    }
}

//店鋪資訊
.mpa-item {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        transition: all 0.5s ease 0s;

        &:hover {
            transform: scale(1.05);
            opacity: .5;
        }
    }

    div h3 {
        position: absolute;
        background-color: #B8A98D;
        padding: 5px;
        top: 0;
        left: 0;
        font-family: 'Microsoft JhengHei';
    }

    .map_text {
        margin: 10px 0 15px;
        padding-left: 10px;

        p {
            padding-bottom: 10px;
        }
    }
}

@media screen and (min-width:768px) {
    .ho_po {
        margin: 20px 0;
    }

    .slider_container {
        margin-top: 65px;
    }
}

@media screen and (min-width:992px) {
    .fog_img {
        clip-path: circle(50% at 50% 50%);
    }
}