//css-reset
@import'base/reset';
//font
@import'layout/font';
//header
@import'layout/header';
//footer
@import'layout/footer';
//media
@import'layout/media';


.backimg {
    background-image: url('../image/000002.jpg');
}




.message {
    // border-bottom: 1px dashed rgb(117, 116, 116);
    margin: 20px 0;

    .mess_img {
        width: 100%;
        background-color: #fff;
        font-size: 0;

        img {
            max-width: 100%;
            vertical-align: middle;
        }
    }

    .mess_text {
        h3 {
            padding-bottom: 20px;
        }

        h4 {
            padding-bottom: 20px;
        }
    }
}




.pagbutton {
    li {
        display: inline-block;
        vertical-align: middle;
        // padding: 10px 15px;
        cursor: pointer;

        &:hover a {
            background-color: #F0F0F7;
            color: #615F67;
        }

        a {
            padding: 10px 15px;
        }

    }
}



/* 下面分頁按鈕 */
.pagination {
    text-align: center;

    li {
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0px;
        cursor: pointer;
        box-sizing: border-box;

        a {
            padding: 5px 15px;
        }

        &:hover a {
            background-color: #F0F0F7;
            color: #615F67;
        }

        // a{
        //     background-color: #F0F0F7;
        //     color: rgb(255, 255, 255);
        // }
    }
}


@media screen and (min-width:768px) {

    .pagbutton {
        li {
            padding: 15px 20px;
        }
    }
}