//css-reset
@import'base/reset';
//font
@import'layout/font';
//header
@import'layout/header';
//footer
@import'layout/footer';
//media
@import'layout/media';

.backimg {
    background-image: url('../image/P7166676.jpg');
}

//上面小圖
.hot {
    box-sizing: border-box;

    .hp {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        padding: 10px 10px 30px;
        transition: all 0.3s;
        height: 230px;
        margin-bottom: 20px;
        cursor: pointer;

        h2 {
            color: #000;
            text-align: center;
            writing-mode: vertical-lr;
            margin: auto;
            color: rgb(255, 255, 255);
        }

        img {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            height: auto;
        }

        &:nth-child(1):hover,
        &:nth-child(2):hover,
        &:nth-child(3):hover,
        &:nth-child(4):hover,
        &:nth-child(5):hover {
            background-color: #F0F0F7;
        }

        &:nth-child(1):hover h2,
        &:nth-child(2):hover h2,
        &:nth-child(3):hover h2,
        &:nth-child(4):hover h2,
        &:nth-child(5):hover h2 {
            color: #615F67;
        }

    }
}

//下面大圖
.bg {
    background-image: url("../image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .tabs_panel {
        margin: 40px 10px;
        display: none;

        .bg-text {
            background-color: #B8A98D;
            display: inline-block;

            h2 {
                padding: 20px 10px;
            }

            h3 {
                padding: 20px 10px;
            }

            p {
                padding: 20px 10px;
            }
        }
    }
}

@media screen and (min-width:768px) {

    .hot {
        .hp {
            h2 {
                writing-mode: horizontal-tb;
            }
        }
    }

    .bg-text {
        margin-top: 100px;
    }
}