/* 文字設定 */
h1,
h2,
h3,
p,
a {
    font-family: 'Microsoft JhengHei';
}

h1 {
    font-size: 26px;
    line-height: 1.5rem;
}

h2 {
    font-size: 24px;
    line-height: 1.5rem;
}

h3 {
    font-size: 22px;
    line-height: 1.5rem;
}

h4 {
    font-size: 20px;
    line-height: 1.5rem;
}

p {
    font-size: 15px;
    line-height: 1.8rem;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #000;

}

* {
    outline: 1px solid red;
}

// 第一屏背景圖
.banner {
    padding-bottom: 80%;
    position: relative;

    .backimg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 50%;
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        left: 0;
        bottom: 0;
    }
}

//每一個區塊
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    margin-top: 100px;
    box-sizing: border-box;

    .row {
        background-color: rgba(238, 238, 238, .7);
    }
}

//清除float浮動
.clearfix {
    width: 100%;
    clear: both;
}

//標題and偽元素after下底線
.title {
    h1 {
        height: 45px;
        text-align: center;
        line-height: 50px;
        margin-bottom: 20px;

        &::after {
            content: " ";
            display: block;
            width: 120px;
            height: 0;
            border: 2px solid rgb(214, 130, 52);
            margin: auto;
            position: relative;
            border-radius: 50px;
        }
    }

    p {
        text-align: center;
    }
}



@media screen and (min-width:768px) {
    .banner {
        padding-bottom: 40%;
        position: relative;

        div {
            position: absolute;
            display: inline;
            bottom: 0px;
            z-index: 5;
            padding: 20px 0px;
            a {
                padding: 5px 10px;
                margin-left: 20px;
                border: 1px solid rgb(52, 51, 51);
                background-color:  rgba(238, 238, 238, 0.9);
            }
        }
    }
}